@page {
  size: US-Letter;
  margin: 1in 1in 1in 1.5in;
  font: 10pt/1 "PT Serif", prince-no-fallback;
  @bottom {
    content: counter(page);
  }
}

header,
main {
  counter-reset: page 1;
}

header {
  page: header;
}

@page header {
  @bottom {
    content: counter(page, lower-roman);
  }
}

.title-page {
  page: title-page;
}

@page title-page {
  @bottom {
    content: normal;
  }
}

body {
  font: 12pt/2 "PT Serif", prince-no-fallback;
}

a {
  text-decoration: none;
  color: black;
}

p + p {
  margin-top: -1.12em;
  text-indent: 2em;
}

h1 {
  break-before: page;
}

ul {
  list-style-type: disc;
}

.title-page {
  line-height: 1.2;
  text-align: center;
}

.title-page p {
  margin: 0;
  text-indent: 0;
}

.title-page .title {
  margin-top: 1.5in;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2pt;
}

.title-page .author {
  margin-top: 1in;
}

.title-page .statement {
  margin-top: 1.5in;
}

.title-page .publishing-location {
  margin-top: 0.5in;
}

.table-of-contents, .table-of-contents ul {
  list-style-type: none;
}

.table-of-contents {
  padding: 0;
}
