_minted-yocto-cfa
pdfa.xmpi
yocto-cfa.aux
yocto-cfa.bbl
yocto-cfa.blg
yocto-cfa.fdb_latexmk
yocto-cfa.fls
yocto-cfa.lof
yocto-cfa.log
yocto-cfa.lot
yocto-cfa.out
yocto-cfa.pdf
yocto-cfa.synctex.gz
yocto-cfa.toc
