@import "node_modules/typeface-pt-serif/index.css";
@import "node_modules/typeface-pt-mono/index.css";
@import "node_modules/katex/dist/katex.css";

@page {
  size: US-Letter;
  margin: 1in 1in 1in 1.5in;
  font: 10pt/1 "PT Serif", prince-no-fallback;
  @bottom {
    content: counter(page);
  }
}

body {
  font: 12pt/2 "PT Serif", prince-no-fallback;
  text-align: justify;
  hyphens: auto;
}

a {
  text-decoration: none;
  color: black;
}

code {
  font-family: "PT Mono", prince-no-fallback;
  hyphens: none;
}

p + p {
  margin-top: -1.12em;
  text-indent: 2em;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  break-before: page;
}

h2,
h3 {
  margin-top: 2em;
}

.heading-counter {
  margin-right: 0.5em;
}

pre {
  font-size: 10pt;
  line-height: 1.2;
  white-space: pre-wrap;
}

pre .highlight-line {
  background-color: #e0ffff;
}

pre .line-number {
  color: #aaa;
}

fieldset {
  padding: 0 1em;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  box-decoration-break: slice;
}

legend {
  position: absolute;
  margin-top: -1em;
  margin-left: -0.5em;
  padding: 0 0.5em;
  background-color: white;
}

.draft {
  font-size: 10pt;
  color: #bbb;
  font-weight: normal;
}

header {
  page: header;
}

@page header {
  @bottom {
    content: counter(page, lower-roman);
  }
}

.title-page {
  page: title-page;
  line-height: 1.2;
  text-align: center;
}

@page title-page {
  @bottom {
    content: normal;
  }
}

.title-page .title {
  margin-top: 1.5in;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2pt;
}

.title-page .author {
  margin-top: 1in;
}

.title-page .statement {
  margin-top: 1.5in;
}

.title-page .publishing-location {
  margin-top: 0.5in;
}

.title-page .timestamp {
  margin-top: 0.5in;
}

#table-of-contents + ul {
  list-style-type: none;
  margin: 0;
}

#table-of-contents + ul a::after {
  content: leader(dotted) target-counter(attr(href), page);
}

#table-of-contents + ul a[data-section="header"]::after {
  content: leader(dotted) target-counter(attr(href), page, lower-roman);
}

main {
  counter-reset: page 1;
}
